html {
  height: 100%;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto Mono", monospace;
  margin: 20px 0px 0px 0px;
}

h1 {
  font-size: 36px;
  font-style: italic;
}

#base {
  background-color: rgb(35, 189, 236);
  padding: 20px;
  border: 3px rgb(28, 149, 185) solid;
  border-radius: 25px;
  box-shadow: 0 01px rgb(28, 149, 185), 01px 0 rgb(28, 149, 185),
    01px 02px rgb(28, 149, 185), 02px 01px rgb(28, 149, 185),
    02px 03px rgb(28, 149, 185), 03px 02px rgb(28, 149, 185),
    03px 04px rgb(28, 149, 185), 04px 03px rgb(28, 149, 185),
    04px 05px rgb(28, 149, 185), 05px 04px rgb(28, 149, 185),
    05px 06px rgb(28, 149, 185), 06px 05px rgb(28, 149, 185),
    06px 07px rgb(28, 149, 185), 07px 06px rgb(28, 149, 185),
    07px 08px rgb(28, 149, 185), 08px 07px rgb(28, 149, 185),
    08px 09px rgb(28, 149, 185), 09px 08px rgb(28, 149, 185),
    09px 10px rgb(28, 149, 185), 10px 09px rgb(28, 149, 185);
}

button {
  cursor: pointer;
  padding: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 12px;
  background-color: rgb(255, 179, 16);
  box-shadow: 3px 3px rgb(214, 151, 16);
}

button:active {
  background-color: rgb(255, 193, 59);
  box-shadow: 1px 1px rgb(214, 151, 16);
  transform: translateY(2px) translateX(2px);
}

#base {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

#display {
  grid-area: 1 / 1 / 2 / 5;
  text-align: right;
  padding: 8px 12px 8px 5px;
  margin: 5px 0px 10px 0px;
  border: 2px solid rgb(158, 158, 158);
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
}

#equal {
  grid-area: 6 / 3 / 7 / 5;
  width: 90px;
  border-radius: 15px;
}
