html {
  height: 100%;
}
body {
  background-color: rgb(255, 211, 253);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

main { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto Mono", monospace;
  margin: 0px 0px 0px 0px;
}

h1 {
  text-align: center;
  background-color: #45f293;
  color:rgb(240, 36, 36);
  font-size: 48px;
  font-style: italic;
  padding: 10px 20px 10px 20px;
  margin: 25px;
}
h2{
  text-align: center;
  background-color: #fed330;
  color:rgb(252, 92, 101);
  font-size: 24px;
  padding: 5px 10px 5px 10px;
  margin: 10px;
}

#base {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  font-size: 24px;
  background-color: rgb(69, 170, 242);
  margin: 40px;
  padding: 25px;
  border: 3px rgb(45, 152, 218) solid;
  border-radius: 25px;
  box-shadow: 0 01px rgb(45, 152, 218), 01px 0 rgb(45, 152, 218),
    01px 02px rgb(45, 152, 218), 02px 01px rgb(45, 152, 218),
    02px 03px rgb(45, 152, 218), 03px 02px rgb(45, 152, 218),
    03px 04px rgb(45, 152, 218), 04px 03px rgb(45, 152, 218),
    04px 05px rgb(45, 152, 218), 05px 04px rgb(45, 152, 218),
    05px 06px rgb(45, 152, 218), 06px 05px rgb(45, 152, 218),
    06px 07px rgb(45, 152, 218), 07px 06px rgb(45, 152, 218),
    07px 08px rgb(45, 152, 218), 08px 07px rgb(45, 152, 218),
    08px 09px rgb(45, 152, 218), 09px 08px rgb(45, 152, 218),
    09px 10px rgb(45, 152, 218), 10px 09px rgb(45, 152, 218);
}

button {
  font-size: 24px;
  font-family: 'Staatliches', cursive;
  cursor: pointer;
  padding: 0px;
  width: 60px;
  height: 60px;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: rgb(247, 183, 49);
  box-shadow: 5px 5px rgb(212, 156, 34);
}

button:active {
  background-color: rgb(255, 193, 59);
  box-shadow: 2px 2px rgb(212, 156, 34);
  transform: translateY(3px) translateX(3px);
}

#display {
  height: 36px;
  width: 250px;
  font-family: 'Anton', sans-serif;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.863);
  grid-area: 1 / 1 / 2 / 5;
  text-align: right;
  padding: 13px 16px 13px 12px;
  margin: 10px 0px 15px 0px;
  border: 2px solid rgb(158, 158, 158);
  background-color: rgb(223, 230, 238);
  border-radius: 20px;
}

#equal {
  grid-area: 6 / 3 / 7 / 5;
  width: 135px;
}
